.book-interview-container{
    flex-grow: 1;
    width: 100%;
}


.slot-selected{
    background-color: yellow;
    transform: scale(1.3);

}

.book-interview-top{
    width: 100%;
    padding: 10px;
}

.book-interview-job-details{
    flex-grow: 1;
    border-right:  1px solid gray;
}
.book-interview-candidate-details{
    flex-grow: 1;
}


.slots-select-container{
    width: 100%;
    padding: 10px;

}

.slots-select{
    width: 100%;
}