
header .logo-container{
   max-width:50px;
   cursor: pointer;
}

header .logo-container img {
   width: 100%;
   margin-top: 10px;
}


.blue-circle-container{
   margin-left: 30px;
   background-color:#42ABF8;
   display: flex;
   align-items: center;
   justify-content:center;
   border-radius: 20px;
   width: 25px;
   height: 25px;
   box-shadow: 3px 2px 14px 0px #42abf8;
}

