.notification {
    position: fixed;
    z-index: 10;
    top: 7rem;
    right: 5rem;
    margin: 5px auto;

    box-shadow: 2px 2px 3px rgb(189 175 175 / 90%);
    text-align: center;
    border-radius: 5px;
    
    color: white;
    min-width: 250px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}

.notification p{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 0.7rem;
    font-family: Arial;
    letter-spacing: 0.2px;
}

.loadingBox {
    background: #1fc442;
}

.infoBox {
    background-color: #1fc442;
 
}

.errorBox {
    background-color: #e65252ed;
}

.notification-text-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn-close {
    background-color:transparent;
    cursor:pointer;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    margin-left: 10px;
    border: 0px;
}

.btn-close:hover {
    transform: scale(1.2);
}


/* animation */

.notification{
    animation: popup 0.5s;
  }
  
  @keyframes popup {
    
    0%{
      transform: scale(1.0);
    }    
    50%{
      transform: scale(1.05);
    }
    100%{
        transform: scale(1);
      }
  }



